* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #9e8ff5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.hangman-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
}

#word {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px;
}

#restart {
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    font-size: 16px;
}

#restart:hover {
    background-color: #45a049;
}
